body {
  background: linear-gradient(
    109.6deg,
    rgb(223, 234, 247) 11.2%,
    rgb(244, 248, 252) 91.1%
  );
  font-family: "Rubik";
}

a {
  color: #ebae21;
}

.weather-app {
  background: linear-gradient(
    89deg,
    #154abd 0.1%,
    rgb(26, 138, 211) 51.5%,
    rgb(72, 177, 234) 100.2%
  );
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
}

header {
  border-bottom: 1px solid f9f7fe;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #dff2fc;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  background: #185ec4;
  padding: 15px 30px;
  border: none;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
  font-size: 16px;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  color: white;
}

.weather-app-details {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #ebae21;
}

.weather-app-details strong {
  color: white;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
  margin-right: 20px;
}

.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
  color: white;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
  color: white;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 20px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: white;
}
